#menu {
    color: #00438E;
    font-size: 14px;
    height: 30px;
    list-style: none outside none;
    margin: 0 auto;
    padding: 0 5px;
    width: auto;
    z-index: 1005;
	float:right;
}
#menu li {
    border: medium none;
    display: block;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
   /* padding: 4px; */
/*	margin:-4px;*/
    position: relative;
    text-align: center;
    z-index: 1005;
}
#menu li:hover {
    background: none repeat scroll 0 0 #01438F;
    border: 1px solid #01438F;
    border-radius: 5px 5px 0 0;
    padding: 4px;
}
#menu li a {
    color: #00abe3;
    display: block;
    font-size: 14px;
    outline: 0 none;
    padding: 8px 10px 8px 16px;
    text-decoration: none;
}
#menu li:hover a {
    color: #FFFFFF;
}
#menu li .drop {
    padding: 0 5px;
}
#menu li:hover .drop {
}
.dropdown_1column, .dropdown_2columns, .dropdown_3columns, .dropdown_4columns, .dropdown_5columns {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #01438F;
    border-color: -moz-use-text-color #01438F #cc2b91;
    border-radius: 0 10px 10px 10px;
    border-style: none solid solid;
    border-width: medium 0px 10px;
    float: left;
    left: -999em;
    margin: 4px auto;
    padding: 10px 5px 0 0;
    position: absolute;
    text-align: left;
}
.dropdown_1column {
    width:200px;
}
.dropdown_2columns {
    width: 400px;
	background-image:url(line-menu.jpg);
	background-position:center top;
	background-repeat:repeat-y;
}
.dropdown_3columns {
    width: 450px;
}
.dropdown_4columns {
    width: 600px;
}
.dropdown_5columns {
    width: 750px;
}
#menu li:hover .dropdown_1column, #menu li:hover .dropdown_2columns, #menu li:hover .dropdown_3columns, #menu li:hover .dropdown_4columns, #menu li:hover .dropdown_5columns {
    left: -1px;
    top: auto;
}
.col_1, .col_2, .col_3, .col_4, .col_5 {
    display: inline;
    float: left;
    margin-left: 0;
    margin-right: 0;
    position: relative;
}
.col_1 {
    width: 200px;
}
.col_2 {
    width: 400px;
}
.col_3 {
    width: 420px;
}
.col_4 {
    width: 560px;
}
.col_5 {
    width: 700px;
}
#menu .menu_right {
    float: right;
    margin-right: 0;
}
#menu li .align_right {
    border-radius: 5px 0 5px 5px;
}
#menu li:hover .align_right {
    left: auto;
    right: -1px;
    top: auto;
}
#menu p, #menu h2, #menu h3, #menu ul li {
    line-height: 21px;
    text-align: left;
}
#menu h2 {
    border-bottom: 1px solid #666666;
    font-size: 120%;
    font-weight: 400;
    letter-spacing: -1px;
    margin: 7px 0 14px;
    padding-bottom: 14px;
}
#menu h3 {
    border-bottom: 1px solid #888888;
    font-size: 110%;
    margin: 7px 0 14px;
    padding-bottom: 7px;
}
#menu p {
    line-height: 18px;
    margin: 0 0 10px;
}
#menu li:hover div li a {
    font-size: 14px;
}
#menu li:hover div li a:hover {
    background-color: #0C88C6;
    color: #FFFFFF;
}

#menu li:hover div li.menuSelected {
    background-color: #0C88C6;
    color: #FFFFFF;
	background-image:url(arrow-menu.png);
	background-position:top right;
	background-repeat:no-repeat;
}

.strong {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.imgshadow {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #777777;
    box-shadow: 0 0 5px #666666;
    margin-top: 5px;
    padding: 4px;
}
.img_left {
    float: left;
    margin: 5px 15px 5px 5px;
}
#menu li .black_box {
    background-color: #333333;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 3px #000000 inset;
    color: #EEEEEE;
    padding: 4px 6px;
    text-shadow: 1px 1px 1px #000000;
}
#menu li ul.simple {
    list-style: none outside none;
    margin: 0px 0px 0px 0px;
    padding: 0;
	
}

#menu li ul.simple2 {
    list-style: none outside none;
    margin: 0px 0px 0px 3px;
    padding: 0;
	
}

#menu li ul.last {
    list-style: none outside none;
    /*margin: 0 0 12px;*/
	margin:0px;
    padding: 0;
	
}

#menu li ul li {
    float: none;
    margin: 0px 0px 10px 0px;
    padding: 0;
    position: relative;
    text-align: left;
    width: 200px;
}
#menu li ul li:hover {
    background: none repeat scroll 0 0 #0C88C6;
    border: medium none;
    color: #FFFFFF;
    margin: 0px 0px 10px 0px;
    padding: 0;
}
#menu li .greybox li {
    background: none repeat scroll 0 0 #F4F4F4;
    border: 1px solid #BBBBBB;
    margin: 0 0 4px;
    padding: 4px 6px;
    width: 116px;
}
#menu li .greybox li:hover {
    background: none repeat scroll 0 0 #01438F;
    border: 1px solid #AAAAAA;
    margin: 0 0 4px;
    padding: 4px 6px;
}

